*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Reem Kufi', sans-serif;
    color: #333;
    min-height: 100%;
}
a {
    text-decoration: none;
    color: #eee;
}

body {
    padding-top:100px;
}

.about-me-section{
    flex-direction: column;
}

.about-me-description{
    position: relative;
    width: 80%;
    text-align: justify;
    margin-top:40px;
    font-size: 1.3em;
    align-items: center;
    justify-content: center;
    left: 10%;
}

.down-arrow {
    display: none;
    position: absolute;
    bottom: 0;
    left: 38%;
    cursor: pointer;
}

.landing-background-top {
    /*width: 100%;
    height: 50%;
    */
    background-color: #F2C94C;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: flex-end;
    grid-area: landing-background-top;
    min-width: 0;
}

.landing-background-bottom {
    background-color: #FFF;
    /*width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: landing-background-bottom;
    min-width: 0;
}

.landing-description {
    color: #333;
    position: relative;
    font-size: 1.4em;
    padding: 10px 20px;
    text-align: right;
    float: right;
    width: 70%;
    max-width: 600px;
}
.landing-left-side {
    background-image: url("../img/Stripes.svg");
    /* flex: 2; */
    background-position: center;
    grid-area: landing-left-side;
    overflow: hidden;
    min-width: 0;
}

.landing-right-side{
    min-width: 0;
    /*flex-direction: column;*/
    /*background-color: #F2C94C;*/
    /*display: flex;*/
}

.landing-section {
    display:grid;
    width: 100%;
    /*grid-template-columns: auto auto; */
    grid-template:  
                    "landing-left-side landing-background-top" auto
                    "landing-left-side landing-background-top" auto
                    "landing-left-side landing-background-bottom" auto;
}

.landing-title {
    font-size: 4em;
    text-align: center;
    padding: 10px;
    
}

.line {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
}

.logo {
    border: 1px solid;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 5px;
}

.profile-pic-container {
    display: none;
    position: absolute;
    left: 5%;
    top: 30%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #242424;
    color: #eee;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 3;
    justify-content: space-between;
}

.nav-item {
    margin-left:20px;
    font-size: 1.2em;
    position: relative;
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.nav-item:hover, .navbar a:hover{
    color: #F2C94C;
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F2C94C;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-item-container {
    position: relative;
    display: flex;
    align-self: flex-end;
}

.section {
    min-height: 95%;
}

.section-title{
    position: relative;
    background-color: #F2C94C;
    font-size: 1.9em;
    width: 200px;
    height: 1.9em;
    padding: 10px;
    margin-top: 20px;
}

.stripes {
    width: 100%;
    transform: rotate(30deg) translate(-50%, -10%);
}

/*Phone screens*/
@media only screen and (max-width: 400px){
    .landing-background-top {
        justify-content: center;
    }
    .landing-description {
        text-align: center;
        width: 100%;
        padding: 10px 20px;
        font-size:1.2em;
    }
    .landing-left-side {
        display:none;
    }
    .profile-pic {
        opacity: 0;
        position: absolute;
        border-radius: 50%;
        height: 40vh;
        width: 40vh;
        top: 50%;
        left: 50%;
        margin: -20vh 0px 0px -20vh;
        }
    .profile-pic-border{
        opacity: 0;
        border-radius: 50%;
        border: 1px solid #333;
        height: 43vh;
        width: 43vh;
        position: relative;
    }
    .profile-pic-container {
        display:none;
        position: absolute;
        left: 10%;
        top: 30%;
    }
}

/*Tablets*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .profile-pic {
        opacity: 1;
        position: absolute;
        border-radius: 50%;
        height: 40vh;
        width: 40vh;
        top: 50%;
        left: 50%;
        margin: -20vh 0px 0px -20vh;
        }
    .profile-pic-border{
        opacity: 1;
        border-radius: 50%;
        border: 1px solid #333;
        height: 43vh;
        width: 43vh;
        position: relative;
    }
    .profile-pic-container {
        opacity: 1;
        position: absolute;
        left: 15%;
        top: 30%;
    }
}

/*Desktop*/
@media only screen and (min-width: 961px) {
    .landing-right-side {
        flex:2;
    }
    .profile-pic {
        opacity: 1;
        opacity: 100%;
        position: absolute;
        border-radius: 50%;
        height: 40vh;
        width: 40vh;
        top: 50%;
        left: 50%;
        margin: -20vh 0px 0px -20vh;
    }
    .profile-pic-border{
        opacity: 1;
       border-radius: 50%;
       border: 1px solid #333;
       height: 43vh;
       width: 43vh;
       position: relative;
    }
    .profile-pic-container {
        display: initial;
    }
}


/*Keyframes*/

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    transform:translateY(0);
  }
    40% {
    transform:translateY(-20px);
  }
    60% {
    transform:translateY(-15px);
  }
}

.bounce {
  animation: ease-in-out bounce 2s infinite;
}
